.nav-item:hover {
    border-bottom: 2px solid #333;
}


html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1a008f; /* change this to the color you want */
}